html, body {
    height: 100%;
    width: 100%;
  }
  
  table, th, td {
    border: 3px solid white;
    border-collapse: collapse;
    color: #ADEFD1FF;
  }
  th, td {
    background-color: #00203FFF;
    padding: 15px;
  }
  
  table {
    width: 80%;
  }